<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jaeckel.amenoid"
          android:versionCode="92"
          android:versionName="1.0-ALPHA18">
    <uses-sdk android:minSdkVersion="4"/>

    <uses-feature
            android:name="android.hardware.touchscreen"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.location.gps"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.location.network"
            android:required="false"/>

    <application android:icon="@drawable/ic_launcher"
                 android:label="@string/app_name"
                 android:name=".app.AmenoidApp"
                 android:debuggable="true"

            >
        <meta-data android:name="android.app.default_searchable"
                   android:value=".SearchActivity"/>

        <activity android:name=".AmenListActivity"
                  android:configChanges="orientation"
                >
            <!--<activity android:name=".AmenListActivity"-->
            <!--android:configChanges="orientation"-->
            <!--android:theme="@android:style/Theme.Light"-->
            <!-->-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>


        </activity>
        <!--<activity android:screenOrientation="portrait" android:name=".WebActivity"/>-->
        <!--<activity android:screenOrientation="portrait" android:name=".EditPreferencesActivity"/>-->
        <!--<activity android:screenOrientation="portrait" android:name=".AmenDetailActivity"/>-->
        <!--<activity android:screenOrientation="portrait" android:name=".DisputeActivity"/>-->
        <!--<activity android:screenOrientation="portrait" android:name=".MakeStatementActivity"/>-->
        <activity android:name=".EditPreferencesActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".AmenDetailActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".DisputeActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".statement.MakeStatementActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".statement.ChooseStatementTypeActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".statement.ChooseObjektActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".statement.ChooseScopeActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".statement.ChooseTopicActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".UserDetailActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".ScoreBoardActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".AboutActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".SettingsActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".UrlResolver"
                  android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!--<data android:host="getamen.com" android:scheme="http"/>-->
                <data android:host="getamen.com" android:scheme="https" android:pathPrefix="/topics"/>
                <data android:host="getamen.com" android:scheme="https" android:pathPrefix="/users"/>
                <data android:host="getamen.com" android:scheme="http" android:pathPrefix="/topics"/>
                <data android:host="getamen.com" android:scheme="http" android:pathPrefix="/users"/>
                <data android:host="local.domain" android:scheme="amen" android:pathPrefix="/"/>
                <!-- amen://local.domain/ -->
            </intent-filter>
        </activity>
        <activity android:name=".SubjectPageActivity"
                  android:configChanges="orientation"/>
        <!--<activity android:name=".app.ViewPagerActivity"/>-->
        <activity android:name=".SearchActivity"
                  android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable"/>

        </activity>
        <activity android:name=".StartPageActivity"/>

        <service android:name=".AmenAndroidService"
                />

        <provider android:name="com.jaeckel.amenoid.db.StatementsProvider"
                  android:authorities="com.jaeckel.amenoid">
        </provider>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


</manifest>

