<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jaeckel.amenoid"
          android:versionCode="${project.property.version.code}"
          android:versionName="@string/versionName">
    <uses-sdk android:minSdkVersion="7"
              android:targetSdkVersion="15"/>

    <uses-feature
            android:name="android.hardware.touchscreen"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.location.gps"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.location.network"
            android:required="false"/>

    <!--<permission-->
    <!--android:name="com.jaeckel.amenoid.permission.C2D_MESSAGE"-->
    <!--android:protectionLevel="signature" />-->

    <!--<uses-permission-->
    <!--android:name="com.jaeckel.amenoid.permission.C2D_MESSAGE" />-->

    <!--<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>-->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:icon="@drawable/ic_launcher"
                 android:label="@string/app_name"
                 android:name=".app.AmenoidApp"
                 android:debuggable="@bool/debuggable"
                 android:theme="@style/Theme.HoloEverywhereDark.Sherlock"
            >
        <meta-data android:name="android.app.default_searchable"
                   android:value=".SearchActivity"/>
        <activity android:name=".AmenListFragmentActivity"
                  android:configChanges="orientation"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <!--<activity android:screenOrientation="portrait" android:name=".WebActivity"/>-->
        <!--<activity android:screenOrientation="portrait" android:name=".EditPreferencesActivity"/>-->
        <!--<activity android:screenOrientation="portrait" android:name=".AmenDetailActivity"/>-->
        <!--<activity android:screenOrientation="portrait" android:name=".DisputeActivity"/>-->
        <!--<activity android:screenOrientation="portrait" android:name=".MakeStatementActivity"/>-->
        <activity android:name=".EditPreferencesActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".AmenDetailFragmentActivity"
                  android:configChanges="orientation"

                />
        <!-- android:uiOptions="splitActionBarWhenNarrow" -->
        <activity android:name=".DisputeActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".statement.MakeStatementActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".statement.ChooseStatementTypeActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".statement.ChooseObjektActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".statement.ChooseScopeActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".statement.ChooseTopicActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".UserDetailActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".ScoreBoardActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".AboutActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".SettingsActivity"
                  android:configChanges="orientation"/>
        <activity android:name=".UrlResolver"
                  android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!--<data android:host="getamen.com" android:scheme="http"/>-->
                <data android:host="getamen.com" android:scheme="https" android:pathPrefix="/topics"/>
                <data android:host="getamen.com" android:scheme="https" android:pathPrefix="/users"/>
                <data android:host="getamen.com" android:scheme="http" android:pathPrefix="/topics"/>
                <data android:host="getamen.com" android:scheme="http" android:pathPrefix="/users"/>
                <data android:host="local.domain" android:scheme="amen" android:pathPrefix="/"/>
                <!-- amen://local.domain/ -->
            </intent-filter>
        </activity>
        <activity android:name=".SubjectPageActivity"
                  android:configChanges="orientation"/>
        <!--<activity android:name=".app.ViewPagerActivity"/>-->
        <activity android:name=".SearchActivity"
                  android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable"/>

        </activity>
        <activity android:name=".StartPageActivity"/>
        <activity android:name=".CommentsListActivity"/>
        <activity android:name=".FragmentDemo"
                  android:configChanges="orientation">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN"/>-->
            <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".ExploreFragmentActivity"/>

        <service android:name=".AmenAndroidService"
                />

        <provider android:name="com.jaeckel.amenoid.db.StatementsProvider"
                  android:authorities="com.jaeckel.amenoid">
        </provider>

        <!-- C2DM -->

        <!--<receiver android:name=".c2dm.C2DMRegistrationReceiver"-->
        <!--android:permission="com.google.android.c2dm.permission.SEND"-->
        <!-->-->
        <!--<intent-filter>-->
        <!--<action android:name="com.google.android.c2dm.intent.REGISTRATION">-->
        <!--</action>-->

        <!--<category android:name="com.jaeckel.amenoid"/>-->
        <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<receiver android:name=".c2dm.C2DMMessageReceiver"-->
        <!--android:permission="com.google.android.c2dm.permission.SEND"-->
        <!-->-->
        <!--<intent-filter>-->
        <!--<action android:name="com.google.android.c2dm.intent.RECEIVE"/>-->
        <!--<category android:name="com.jaeckel.amenoid"/>-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <!--
                 these broadcast receivers are necessary in order for the ignition-location
                 library to work
             -->

        <receiver android:name="com.github.ignition.location.receivers.IgnitedLocationChangedReceiver">
            <intent-filter>
                <action android:name="com.github.ignition.location.ACTIVE_LOCATION_UPDATE_ACTION"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.github.ignition.location.receivers.IgnitedPassiveLocationChangedReceiver"/>
        <!-- <receiver android:name="com.github.ignition.location.receivers.ConnectivityChangedReceiver" enabled="false" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <receiver android:name="com.github.ignition.location.receivers.IgnitedPowerStateChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_LOW"/>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.github.ignition.location.receivers.IgnitedBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>


    </application>

</manifest>

