<?xml version="1.0" encoding="utf-8"?>
<resources>

    <string name="log">${project.property.logLevel}</string>
    <string name="versionName">${project.property.version.name}-r${buildNumber}</string>
    <integer name="versionCode">${project.property.version.code}</integer>
    <string name="buildnumber">${buildNumber}</string>
    <string name="buildtimestamp">${timestamp}</string>

    <item name="debuggable" type="bool">${project.property.application.debuggable}</item>

</resources>